

/*nad tymto su skusky*/
.wrapper img:not(.poslednaUloha img) {
    width: 100%;
}



.poslednaUloha {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 500px;
    margin: 40px 0 0;

}

.poslednaUloha img:first-child {
    flex: 35%;
    border-radius: 50%;
    margin: 80px 0 0 25px;
    padding: 0 25px 0;

}

.poslednaUloha .text {
    flex: 30%;
}

i {
    padding: 0 25px;
}

#ev {
    padding: 0 0;
    text-align: center;
}

#mainTitel {
    text-align: left;
    padding: 0 25px;
}

#main {
    background-color: #f7f7f7;
    padding: 0 0 50px;
}

header,
footer {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #353434;
    color: #858484;
}

footer li {
    text-align: center;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
    border-left: solid 1px rgb(136, 136, 136);
    font-size: 18px;
}

footer li:first-child {
    padding: 0;
    margin: 0;
    border: 0;
}

footer div {
    display: flex;
}

footer ul {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    background-color: rgb(87, 87, 87);
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    padding: 13px 30px;
}

footer a {
    color: rgb(156, 155, 155);
}

header li:hover:not(:first-child) {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.home {
    background-color: #e35252;
    font-size: large;
    border-radius: 5px;
    color: white;
}

header ul {
    margin: 5;
    display: flex;
    justify-content: center;
}


header li {
    flex-direction: row;
    text-decoration: none;

    text-align: center;
    margin: 10px;
    padding: 10px 15px;
    font-style: italic;
    font-size: 18px;
}

.wrapper section,
.wrapper aside {
    background-color: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    padding: 70px 0 0;
}

.wrapper section {
    flex: 60%;
    background-color: white;
    margin-right: 8%;
}

.side {
    flex: 22%;
}


@media  screen and (max-width: 700px) {
    .wrapper, ul, #wrapperGallery {
        flex-direction: column;
    }
}

.wrapper aside {

    margin-bottom: 30px;
}


#wrapperGallery {
    display: flex;

    margin: 0 auto;
    padding: 0 3% 20px;
}


.gallery {
    padding: 0 2%;
    background-color: white;
    flex: 33%;
}

#wrapperGallery .desc {
    padding: 15px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);

}

h1 {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 39.6px;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}


h2 {
    padding: 0 25px;
    margin: 0 0 30px;
}



h3 {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
    padding: 0 25px;

}

p {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 25px;
}




/* group */
.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

/* group  width="600" height="400" */



html,
body {
    margin: 0;
    height: 100%;

}

* {
    box-sizing: border-box;
}